:root {
  --bgBelowLight: #333333;
  --bgBelowDark: #111111;
  --bgAboveLight: #dedede;
  --bgAboveDark: #161616;
  --hrefLight: #212529;
  --hrefDark: #defd86;
  --headLight: #4a8e33;
  --headDark: #542c96;
  --textSelectionLight: #212529;
  --textSelectionDark: #212529;
  --textSelectionShadowLight: #2b7594;
  --textSelectionShadowDark: #2b7594;
}
body {
  font-family: SamsungSharpSans, Arial, sans-serif;
  font-size: 0.9rem;
  background: var(--bgBelow);
  color: var(--text);
}
a,
a:hover {
  color: var(--href);
  text-decoration: underline;
}
.main {
  padding: 4rem 1rem 4rem 3rem;
  width: 68%;
  height: 100%;
  max-width: 1275px;
  max-height: 2600px;
  background: var(--bgAbove);
  margin: 1rem auto;
}
div.main > header {
  width: 90%;
  margin: 1rem auto;
}
div.namePart > h1 {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 70px;
  margin: 0 !important;
}
div.namePart > h1::selection {
  background: 0 0 !important;
  color: var(--textSelection);
  text-shadow: 5px 5px 0 var(--textSelectionShadow) !important;
}
div.contactPart,
div.namePart {
  float: left;
}
div.content {
  width: 90%;
  margin: 1rem auto;
}
div.content > article {
  margin: 2rem 0;
}
article,
p {
  text-align: justify;
}
article > p > svg {
  width: 1rem;
}
div.content h3 {
  text-align: center;
}
.sectHead {
  color: var(--head);
  font-weight: medium;
}
.paragraph {
  text-indent: 1.5rem;
}

@media only screen and (max-width: 600px) {
  div.darken {
    top: 1.1rem;
    right: 6%;
  }
  .main {
    padding: 4rem 0.3rem 4rem 0.1rem;
    width: 95%;
    margin: 0.5rem auto;
  }
  .main > header {
    width: 100%;
    margin: 1rem 0;
  }
  .contactPart {
    padding: 0;
  }
}
