@font-face {
  font-family: 'SamsungSharpSans';
  src: url('SamsungSharpSans.woff') format('woff'), url('SamsungSharpSans.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: url('SamsungSharpSans-Bold.woff') format('woff'), url('SamsungSharpSans-Bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'SamsungSharpSans';
    src: url('SamsungSharpSans-Medium.woff') format('woff'), url('SamsungSharpSans-Medium.ttf')  format('truetype');
    font-weight: 500;
    font-style: medium;
}
