@media (prefers-color-scheme: light) {
  :root {
    --bgBelow: #333333;
    --bgAbove: #dedede;
    --text: #161616;
    --href: #212529;
    --head: #4a8e33;
    --textSelection: #212529;
    --textSelectionShadow: #2b7594;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgBelow: #111111;
    --bgAbove: #161616;
    --text: #dedede;
    --href: #defd86;
    --head: #f300ff;
    --textSelection: #defd86;
    --textSelectionShadow: #2b7594;
  }
}
