@media (prefers-color-scheme: light) {
  .main {
    background: rgb(222, 222, 222);
    color: rgb(22, 22, 22);
  }
  body {
    background: #333333;
  }
  a {
    color: #212529;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    background: rgb(22, 22, 22);
    color: rgb(222, 222, 222);
  }
  body {
    background: #111111;
  }
  a {
    color: rgb(222, 253, 134);
  }
}
